num2words
pyopenssl
libnum
defusedxml
pandas
cryptography
paramiko
pysftp
idna
requests
urllib3
chardet
decorator
passlib
lxml
psutil
pytz
werkzeug
markupsafe
jinja2
pypdf2
pillow
reportlab
vobject
pyserial
